.hidemobile,
.hidedesktop {
  position: fixed !important;
  left: -9999px;
  top: 0;
}
.hidedesktop {
  position: static !important;
}
@media only screen and (min-width: 800px) {
  .hidemobile {
    position: static !important;
  }
  .hidedesktop {
    position: fixed !important;
  }
}
.row:before,
.row:after {
  content: "";
  display: table;
  clear: both;
}
[class*='col-'] {
  float: left;
  vertical-align: top;
  width: 100%;
  min-height: 1px;
}
.twelve .col-sd-1 {
  width: 8.33%;
}
.twelve .col-sd-2 {
  width: 16.66%;
}
.twelve .col-sd-3 {
  width: 25%;
}
.twelve .col-sd-4 {
  width: 33.33%;
}
.twelve .col-sd-5 {
  width: 41.66%;
}
.twelve .col-sd-6 {
  width: 50%;
}
.twelve .col-sd-7 {
  width: 58.33%;
}
.twelve .col-sd-8 {
  width: 66.66%;
}
.twelve .col-sd-9 {
  width: 75%;
}
.twelve .col-sd-10 {
  width: 83.33%;
}
.twelve .col-sd-11 {
  width: 91.66%;
}
.twelve .col-sd-12 {
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .twelve .col-md-1 {
    width: 8.33%;
  }
  .twelve .col-md-2 {
    width: 16.66%;
  }
  .twelve .col-md-3 {
    width: 25%;
  }
  .twelve .col-md-4 {
    width: 33.33%;
  }
  .twelve .col-md-5 {
    width: 41.66%;
  }
  .twelve .col-md-6 {
    width: 50%;
  }
  .twelve .col-md-7 {
    width: 58.33%;
  }
  .twelve .col-md-8 {
    width: 66.66%;
  }
  .twelve .col-md-9 {
    width: 75%;
  }
  .twelve .col-md-10 {
    width: 83.33%;
  }
  .twelve .col-md-11 {
    width: 91.66%;
  }
  .twelve .col-md-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 800px) {
  .twelve .col-dd-1 {
    width: 8.33%;
  }
  .twelve .col-dd-2 {
    width: 16.66%;
  }
  .twelve .col-dd-3 {
    width: 25%;
  }
  .twelve .col-dd-4 {
    width: 33.33%;
  }
  .twelve .col-dd-5 {
    width: 41.66%;
  }
  .twelve .col-dd-6 {
    width: 50%;
  }
  .twelve .col-dd-7 {
    width: 58.33%;
  }
  .twelve .col-dd-8 {
    width: 66.66%;
  }
  .twelve .col-dd-9 {
    width: 75%;
  }
  .twelve .col-dd-10 {
    width: 83.33%;
  }
  .twelve .col-dd-11 {
    width: 91.66%;
  }
  .twelve .col-dd-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 1366px) {
  .twelve .col-ld-1 {
    width: 8.33%;
  }
  .twelve .col-ld-2 {
    width: 16.66%;
  }
  .twelve .col-ld-3 {
    width: 25%;
  }
  .twelve .col-ld-4 {
    width: 33.33%;
  }
  .twelve .col-ld-5 {
    width: 41.66%;
  }
  .twelve .col-ld-6 {
    width: 50%;
  }
  .twelve .col-ld-7 {
    width: 58.33%;
  }
  .twelve .col-ld-8 {
    width: 66.66%;
  }
  .twelve .col-ld-9 {
    width: 75%;
  }
  .twelve .col-ld-10 {
    width: 83.33%;
  }
  .twelve .col-ld-11 {
    width: 91.66%;
  }
  .twelve .col-ld-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 1921px) {
  .twelve .col-xd-1 {
    width: 8.33%;
  }
  .twelve .col-xd-2 {
    width: 16.66%;
  }
  .twelve .col-xd-3 {
    width: 25%;
  }
  .twelve .col-xd-4 {
    width: 33.33%;
  }
  .twelve .col-xd-5 {
    width: 41.66%;
  }
  .twelve .col-xd-6 {
    width: 50%;
  }
  .twelve .col-xd-7 {
    width: 58.33%;
  }
  .twelve .col-xd-8 {
    width: 66.66%;
  }
  .twelve .col-xd-9 {
    width: 75%;
  }
  .twelve .col-xd-10 {
    width: 83.33%;
  }
  .twelve .col-xd-11 {
    width: 91.66%;
  }
  .twelve .col-xd-12 {
    width: 100%;
  }
}
.sixteen .col-sd-1 {
  width: 6.25%;
}
.sixteen .col-sd-2 {
  width: 12.5%;
}
.sixteen .col-sd-3 {
  width: 18.75%;
}
.sixteen .col-sd-4 {
  width: 25%;
}
.sixteen .col-sd-5 {
  width: 31.25%;
}
.sixteen .col-sd-6 {
  width: 37.5%;
}
.sixteen .col-sd-7 {
  width: 43.75%;
}
.sixteen .col-sd-8 {
  width: 50%;
}
.sixteen .col-sd-9 {
  width: 56.25%;
}
.sixteen .col-sd-10 {
  width: 62.5%;
}
.sixteen .col-sd-11 {
  width: 68.75%;
}
.sixteen .col-sd-12 {
  width: 75%;
}
.sixteen .col-sd-13 {
  width: 81.25%;
}
.sixteen .col-sd-14 {
  width: 87.5%;
}
.sixteen .col-sd-15 {
  width: 93.75%;
}
.sixteen .col-sd-16 {
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .sixteen .col-md-1 {
    width: 6.25%;
  }
  .sixteen .col-md-2 {
    width: 12.5%;
  }
  .sixteen .col-md-3 {
    width: 18.75%;
  }
  .sixteen .col-md-4 {
    width: 25%;
  }
  .sixteen .col-md-5 {
    width: 31.25%;
  }
  .sixteen .col-md-6 {
    width: 37.5%;
  }
  .sixteen .col-md-7 {
    width: 43.75%;
  }
  .sixteen .col-md-8 {
    width: 50%;
  }
  .sixteen .col-md-9 {
    width: 56.25%;
  }
  .sixteen .col-md-10 {
    width: 62.5%;
  }
  .sixteen .col-md-11 {
    width: 68.75%;
  }
  .sixteen .col-md-12 {
    width: 75%;
  }
  .sixteen .col-md-13 {
    width: 81.25%;
  }
  .sixteen .col-md-14 {
    width: 87.5%;
  }
  .sixteen .col-md-15 {
    width: 93.75%;
  }
  .sixteen .col-md-16 {
    width: 100%;
  }
}
@media only screen and (min-width: 800px) {
  .sixteen .col-dd-1 {
    width: 6.25%;
  }
  .sixteen .col-dd-2 {
    width: 12.5%;
  }
  .sixteen .col-dd-3 {
    width: 18.75%;
  }
  .sixteen .col-dd-4 {
    width: 25%;
  }
  .sixteen .col-dd-5 {
    width: 31.25%;
  }
  .sixteen .col-dd-6 {
    width: 37.5%;
  }
  .sixteen .col-dd-7 {
    width: 43.75%;
  }
  .sixteen .col-dd-8 {
    width: 50%;
  }
  .sixteen .col-dd-9 {
    width: 56.25%;
  }
  .sixteen .col-dd-10 {
    width: 62.5%;
  }
  .sixteen .col-dd-11 {
    width: 68.75%;
  }
  .sixteen .col-dd-12 {
    width: 75%;
  }
  .sixteen .col-dd-13 {
    width: 81.25%;
  }
  .sixteen .col-dd-14 {
    width: 87.5%;
  }
  .sixteen .col-dd-15 {
    width: 93.75%;
  }
  .sixteen .col-dd-16 {
    width: 100%;
  }
}
@media only screen and (min-width: 1366px) {
  .sixteen .col-ld-1 {
    width: 6.25%;
  }
  .sixteen .col-ld-2 {
    width: 12.5%;
  }
  .sixteen .col-ld-3 {
    width: 18.75%;
  }
  .sixteen .col-ld-4 {
    width: 25%;
  }
  .sixteen .col-ld-5 {
    width: 31.25%;
  }
  .sixteen .col-ld-6 {
    width: 37.5%;
  }
  .sixteen .col-ld-7 {
    width: 43.75%;
  }
  .sixteen .col-ld-8 {
    width: 50%;
  }
  .sixteen .col-ld-9 {
    width: 56.25%;
  }
  .sixteen .col-ld-10 {
    width: 62.5%;
  }
  .sixteen .col-ld-11 {
    width: 68.75%;
  }
  .sixteen .col-ld-12 {
    width: 75%;
  }
  .sixteen .col-ld-13 {
    width: 81.25%;
  }
  .sixteen .col-ld-14 {
    width: 87.5%;
  }
  .sixteen .col-ld-15 {
    width: 93.75%;
  }
  .sixteen .col-ld-16 {
    width: 100%;
  }
}
@media only screen and (min-width: 1921px) {
  .sixteen .col-xd-1 {
    width: 6.25%;
  }
  .sixteen .col-xd-2 {
    width: 12.5%;
  }
  .sixteen .col-xd-3 {
    width: 18.75%;
  }
  .sixteen .col-xd-4 {
    width: 25%;
  }
  .sixteen .col-xd-5 {
    width: 31.25%;
  }
  .sixteen .col-xd-6 {
    width: 37.5%;
  }
  .sixteen .col-xd-7 {
    width: 43.75%;
  }
  .sixteen .col-xd-8 {
    width: 50%;
  }
  .sixteen .col-xd-9 {
    width: 56.25%;
  }
  .sixteen .col-xd-10 {
    width: 62.5%;
  }
  .sixteen .col-xd-11 {
    width: 68.75%;
  }
  .sixteen .col-xd-12 {
    width: 75%;
  }
  .sixteen .col-xd-13 {
    width: 81.25%;
  }
  .sixteen .col-xd-14 {
    width: 87.5%;
  }
  .sixteen .col-xd-15 {
    width: 93.75%;
  }
  .sixteen .col-xd-16 {
    width: 100%;
  }
}
.m0 {
  margin: 0px;
}
.m5 {
  margin: 5px;
}
.m10 {
  margin: 10px;
}
.m15 {
  margin: 15px;
}
.m20 {
  margin: 20px;
}
.m25 {
  margin: 25px;
}
.m30 {
  margin: 30px;
}
.m35 {
  margin: 35px;
}
.m40 {
  margin: 40px;
}
.m45 {
  margin: 45px;
}
.m50 {
  margin: 50px;
}
.p0 {
  padding: 0px;
}
.p5 {
  padding: 5px;
}
.p10 {
  padding: 10px;
}
.p15 {
  padding: 15px;
}
.p20 {
  padding: 20px;
}
.p25 {
  padding: 25px;
}
.p30 {
  padding: 30px;
}
.p35 {
  padding: 35px;
}
.p40 {
  padding: 40px;
}
.p45 {
  padding: 45px;
}
.p50 {
  padding: 50px;
}
.mns {
  margin-left: 0;
  margin-right: 0;
}
.mntb {
  margin-top: 0;
  margin-bottom: 0;
}
.pns {
  padding-left: 0;
  padding-right: 0;
}
.pntb {
  padding-top: 0;
  padding-bottom: 0;
}
