@font-face {
    font-family: "Pluto";
    src: 
    url("fonts/237A5F_0_0.woff") format("woff")
    }


body {
    font-family: 'Pluto', Courier, monospace!important;

}

.App {
    background: linear-gradient(0deg, rgb(247,242,237) 4%, rgb(255,255,255) 30%); 
}