@font-face {
    font-family: "Pluto";
    src: 
    url("fonts/237A5F_0_0.woff") format("woff")
    }


.QuickIdeas{

    text-align: center;
    margin-bottom:175px;
    position: relative;
}

.IdeasHeader{
    color:#59bdf7;
    font-family: "Pluto"!important;
}

.QIButton{
    font-family:'Pluto'!important;
}

.bottom-cap{
position: relative;
z-index: 12;
top: 45px;
margin: 0px auto;
height: 70px;
width: 410px;
background: url(../images/menu-header-drop-bg.png) 50% 0 no-repeat;
}

.bottom-trim{
    position: absolute;
    z-index: 11;;
    bottom: -18px;
    width: 100%;
    height: 18px;
    background: url(../images/header-bottom-trim.png) repeat-x;
}

.QuickIdeas .home{
    margin: 20px 0 -20px;
}